* {
  margin: 0;
}

body {
  background-color: aliceblue;
}

.u-capitalize {
  text-transform: capitalize;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem;
}

.app__left {
  flex: 1;
  margin-right: 2rem;
}

.app_right {
  flex: .5;
}

.graph__title {
  margin: 1rem 0 .75rem 0;
}

.app__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  align-items: center;
  text-transform: uppercase;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
	.app {
		flex-direction: column;
	}
}

@media (max-width: 535px) {
  .app__header {
    flex-direction: column;
  }

  .app__title {
    margin-bottom: 1rem;
  }

  .app__stats {
    flex-direction: column;
  }

  .app__stats > * {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media (max-width: 478px) {
  body {
    font-size: 14px;
  }
}